<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitrecipes">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineRecipeManagementSystem">
        <activity android:name="com.example.fitrecipes.Activities.MainActivity" android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name="com.example.fitrecipes.Activities.LoginActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.fitrecipes.Activities.UpdateRecipeActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.fitrecipes.Activities.ForgotPassword"/>
        <activity android:name="com.example.fitrecipes.Activities.ConfirmPinPasswordAvtivity"/>
        <activity android:name="com.example.fitrecipes.Activities.ChangePasswordActivity"/>
        <activity android:exported="true" android:name="com.example.fitrecipes.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.fitrecipes.Activities.SignUpActivity"/>
        <activity android:name="com.example.fitrecipes.Activities.RecipeDetailsActivity"/>
    </application>

</manifest>